numpy>=1.22.0
numba>=0.56.2
numbagg
numba-progress
joblib
scipy>=1.8.0
lmfit>=1.2.0
uncertainties>=3.0.1
iminuit>=2.25.2
matplotlib>=3.8.0
xarray
h5netcdf
varname
tqdm
pyperclip
pyqt6>=6.2.2
qtpy
pyqtgraph>=0.13.1
qtawesome
superqt
igor2 @ git+https://github.com/kmnhan/igor2@master
arpes @ git+https://github.com/kmnhan/arpes@master
