ipykernel
sphinx
sphinx-autodoc-typehints
setuptools
nbsphinx
furo
sphinx-design
sphinx-qt-documentation
sphinx-copybutton
sphinxcontrib-bibtex
pybtex
numpy>=1.22.0
matplotlib>=3.8.0
hvplot
xarray
h5netcdf
varname
numba>=0.56.2
numbagg
numba-progress
joblib
lmfit>=1.2.0
iminuit>=2.25.2
pyqtgraph>=0.13.1
tqdm
uncertainties>=3.0.1
pyperclip
pyqt6>=6.2.2
qtawesome
superqt
csaps
qtpy
igor2 @ git+https://github.com/kmnhan/igor2@master
arpes @ git+https://github.com/kmnhan/arpes@master
-e git+https://github.com/kmnhan/erlabpy.git#egg=erlab
