sphinx
sphinx-autodoc-typehints
nbsphinx
furo
sphinx-qt-documentation
numpy>=1.22.0
matplotlib>=3.8.0
xarray
numba>=0.56.2
numbagg
numba-progress
joblib
lmfit>=1.2.0
seaborn
pyqtgraph>=0.13.1
tqdm
uncertainties>=3.0.1
pyclip
pyqt6>=6.2.2
csaps
qtpy
-e git+https://github.com/kmnhan/igor2.git#egg=igor2
-e git+https://github.com/kmnhan/arpes.git#egg=arpes
-e git+https://github.com/kmnhan/erlabpy.git#egg=erlabpy